<!--这里是导航部分-->
<div class="ui red inverted menu">
  <div class='container'>
  <a class="item" href='#!/'>
    <i class="large home icon"></i> ng-module
  </a>
  <a class="item " href='#!/job'>
    <i class="large users icon"></i> ng-job
  </a>
  <a class="item active" href='#!/book'>
    <i class="large book icon"></i> ng-book
  </a>
</div>
</div>

<div class='container'>
  <div class='ui grid'>
    <!--第一本书-->
    <div class='four wide column'><div class=' ui segment'>
      <img src='./src/book/angularjs.jpg' class='ui medium image'/>
      <div class='ui blue message'><p>本书是AngularJS框架的第一本书，比较全面的讲述的AngularJS的编程思想，但是对AngularJS各部分的讲解还是不够深入。目前已经有中文翻译版本：《用AngularJS开发下一代Web应用》</p></div>
      <a class='ui button fluid green' href='' download>下载</a>
      </div>
    </div>
    <!--第二本书-->
    <div class='four wide column'><div class=' ui segment'>
      <img src='./src/book/mastering_web_application_development_with_angularjs.jpg' class='ui medium image'/>
      <div class='ui blue message'><p>本书对AngularJS各个部分都有比较详细的讲解，可以作为AngularJS的一本参考手册。比较厚。AngularJS进阶读物。</p></div>
      <div class='ui button fluid green'>下载</div>
      </div>
    </div>
    <!--第三本书-->
    <div class='four wide column'><div class=' ui segment'>
      <img src='./src/book/AngularJS_directive.png' class='ui medium image'/>
      <div class='ui blue message'><p>专门讲述AngularJS指令的一本书，指令是AngularJS的灵魂所在，必读！</p></div>
      <div class='ui button fluid green'>下载</div>
      </div>
    </div>
    <!--第四本书-->
    <div class='four wide column'><div class=' ui segment'>
      <img src='./src/book/instant_AngularJS_starter.png' class='ui medium image'/>
      <div class='ui blue message'><p>AngularJS入门书，非常薄，但是关于AngularJS的编程思想讲得很到位，必读！</p></div>
      <div class='ui button fluid green'>下载</div>
    </div>
    </div>
    <!--第五本书-->
    <div class='four wide column'><div class=' ui segment'>
      <img src='./src/book/Dependency_injection_in_AngularJS.png' class='ui medium image'/>
      <div class='ui blue message'><p>将AngularJS依赖注入的一本书，讲得不好，但是好在比较薄，有时间可以瞅瞅。</p></div>
      <div class='ui button fluid green'>下载</div>
    </div>
    </div>
    <!--第六本书-->
    <div class='four wide column'><div class=' ui segment'>
      <img src='./src/book/ng-book.png' class='ui medium image'/>
      <div class='ui blue message'><p>目前为止讲解AngularJS最厚的一本书，将近600页，前面部分写得很精彩，后面感觉扯的部分比较多，都开始讲到AngularJS和Phonegap了。书是好书，有时间建议通读一遍。</p></div>
      <div class='ui button fluid green'>下载</div>
    </div>
    </div>




  </div>
</div>
