
<!--这里是导航部分-->
<div class="ui red inverted menu">
  <div class='container'>
  <a class="item" href='#!/'>
    <i class="large home icon"></i> ng-module
  </a>
  <a class="item active">
    <i class="large users icon"></i> ng-job
  </a>
  <a class="item" href='#!/book'>
    <i class="large book icon"></i> ng-book
  </a>
</div>
</div>

<!--主体部分-->
<div class='container'>
  <div class='ui grid'>

    <!--左边的工作发布区-->
    <div class='twelve wide column'>
        <div class='ui green message' ng-show='!loaded'><i class='heart icon'></i>正在载入中，请稍等一会么么...</div>
        <div class='ui ignore blue message' ng-repeat='job in jobs | orderByPriority | reverse'>
          <h1>{{job.title}}</h1>
          <h2>{{job.$priority}}</h2>
          <div class='ui divider'></div>
          <p btf-markdown='job.content'></p>
        </div>
    </div>

    <!--右边的边栏区-->
    <div class='four wide column'>
      <div class='ui info message'>
        <div class='ui segment'>
          <h3>已经有<b style='color:#D95C5C;'> {{visitor.number}} </b>位AngularJS程序员来过这里</h3>
        </div>
        <a class="ui fluid blue labeled submit icon button" href='#!/edit'><i class='icon edit'></i><b>发布一份AngularJS工作</b></a>
      </div>
    </div>



  </div>
</div>
