<div>
  <style>
    .sidebar{
      background: #F7F5FA;
    }
  </style>
<!--这里是导航部分-->
<div class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
  <div class='container'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='#'>Ng-module</a>
      </div>
      <div class='navbar-collapse collapse'>
          <form class='navbar-form navbar-right' role='form'>
              <div class="form-group">
                  <input type="text" class="form-control" placeholder='查找你想要的模块'/>
                </div>
          </form>
      </div>
  </div>
</div>

<!--现在是主体部分-->
<div class='container' id='main'>
<div class="row">
<div class="col-md-6 col-md-offset-1">
<div class='row'>
<div class='green col-md-9 col-md-offset-1 block'>
  <h1>ng-route</h1>
  <p>ng-route是一个用于路由的模块</p>
  <button class='btn btn-info right'>详情</button>
</div>
<div class='green col-md-9 col-md-offset-1 block'>内容</div>
</div>
</div>

<!--这里是边栏-->
<div class="sidebar col-md-3 col-md-offset-1 tags">
  <button class='btn btn-info btn-xs tag'>
    <span class='glyphicon glyphicon-tag'></span>路由
  </button>
  <button class='btn btn-info btn-xs tag'>
    <span class='glyphicon glyphicon-tag'></span>路由
  </button>
  <button class='btn btn-info btn-xs tag'>
    <span class='glyphicon glyphicon-tag'></span>路由
  </button>
  <button class='btn btn-info btn-xs tag'>
    <span class='glyphicon glyphicon-tag'></span>路由路由路由路由
  </button>
  <button class='btn btn-info btn-xs tag'>
    <span class='glyphicon glyphicon-tag'></span>路由
  </button>
  <button class='btn btn-info btn-xs tag'>
    <span class='glyphicon glyphicon-tag'></span>路由
  </button>

</div>
</div>
</div>
</div>
