<!--这里是导航部分-->
<div class="ui red inverted menu">
  <div class='container'>
  <a class="active item" href='/'>
    <i class="large home icon"></i> ng-module
  </a>
  <a class="item" href='#!/job'>
    <i class="large users icon"></i> ng-job
  </a>
  <a class="item" href='#!/book'>
    <i class="large book icon"></i> ng-book
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="查找你想要的模块" ng-model='searchText'/>
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
  </div>
</div>

<!--这里是主体部分-->

  <div class='container'>
    <div class='ui grid'>


      <!--这里下面是左边的内容栏-->
      <div class='twelve wide column'>
        <div class='ui ingnore green message' ng-show='!loaded'><i class='heart icon'></i>正在载入中，请稍等一会么么</div>
        <div class='ui segment' ng-repeat='module in modules | orderByPriority | search:searchText'>
          <a ng-href='{{module.link}}'><h1>{{module.name}}</h1></a>
          <div class='ui divider'></div>
          <p>{{module.description}}</p>
        </div>
      </div>


      <!--这里下面是右边的标签栏-->
      <div class='four wide column'>
        <div class='ui vertical menu'>
          <div class='item'>
          <i class="tags icon"></i> 模块标签
          <div class='ui divider'></div>
          <div class='menu'>
            <a class='item'>路由</a>
            <a class='item'>路由</a>
          </div>
        </div>
        </div>
      </div>


    </div>
  </div>
