
<!--这里是导航部分-->
<div class="ui red inverted menu">
  <div class='container'>
  <a class="active item" src='/'>
    <i class="large home icon"></i> ng-module
  </a>
  <a class="item" ng-click='gojob()'>
    <i class="large users icon"></i> ng-job
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="查找你想要的模块">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
  </div>
</div>

<!--这里是主体部分-->

  <div class='container'>
    <div class='ui grid'>


      <!--这里下面是左边的内容栏-->
      <div class='twelve wide column'>
        <div class='ui segment'>你好世界</div>
        <div class='ui segment'>你好世界</div>
        <div class='ui segment'>你好世界</div>
      </div>


      <!--这里下面是右边的标签栏-->
      <div class='four wide column'>
        <div class='ui vertical menu'>
          <div class='item'>
          <i class="tags icon"></i> 模块标签
          <div class='ui divider'></div>
          <div class='menu'>
            <a class='item active'>路由</a>
            <a class='item'>路由</a>
          </div>
        </div>
        </div>
      </div>


    </div>
  </div>
